.container-big-card {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 40px;
}

.container-big-card h1 {
  margin-top: 15px;
  font-size: 1.5rem;
  color: rgb(196, 196, 196);
}

.container-big-card p {
  margin-top: 5px;
  color: rgb(145, 145, 145);
}

.pic-big-card img {
  max-width: 100%;
  min-width: 400px;
}
