.container-articles {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
footer {
  text-align: center;
}

footer p {
  margin-top: 50px;
  color: rgb(128, 128, 128);
}
